<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mt-5">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-md-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white mt-5">
                                <div class="m-b-25"> <span class="img-radius fa fa-user-circle fa-5x"></span> </div>
                                <h6 class="f-w-600">{{firstname}} {{lastname}}</h6>
                                <!-- <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i> -->
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <mat-slide-toggle class="float-end mb-2" (click)="changeEdit()">Edit profile</mat-slide-toggle>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <form #loginform=ngForm (ngSubmit)="onSubmit()">
                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <!-- <p class="m-b-10 f-w-600">Email</p> -->
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <mat-label>Firstname</mat-label>
                                                <input [disabled]="edit" matInput type="text" name="firstname" [(ngModel)]="firstname">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <mat-label>Lastname</mat-label>
                                                <input [disabled]="edit" matInput type="text" name="lastname" [(ngModel)]="lastname">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6> -->
                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <mat-label>Email</mat-label>
                                                <input [disabled]="edit" matInput type="text" name="email" [(ngModel)]="email">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <mat-label>Phone</mat-label>
                                                <input maxlength="11" minlength="11" [disabled]="edit" matInput type="text" name="phone" [(ngModel)]="phone">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <mat-label>Fund</mat-label>
                                                <input matInput type="text" readonly disabled name="fund" [(ngModel)]="fund">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <mat-label>Account no</mat-label>
                                                <input matInput type="text" name="accountno" readonly disabled [(ngModel)]="accountno">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <button id="account"  class="col-md-6" color="warn" mat-raised-button (click)="createnewaccount()">create another account</button>
                                    <button id="account" [disabled]="!loginform.valid" type="submit" *ngIf="editbutton" class="col-md-6" color="warn" mat-raised-button>Make Changes <i *ngIf="load" class="fa fa-spinner fa-spin text-light ml-2"></i></button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
