<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-12 text-center mx-auto">
            <button (click)="myairtimes('airtime')" class="col-md-6 p-2 shadow-sm" style="border: none; border-radius: 10px;" mat-raised-button color="primary">Mobile Top-up</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 text-center mx-auto">
            <button (click)="myairtimes('data')" class="col-md-6 p-2 shadow-sm" style="border: none; border-radius: 10px;" mat-raised-button color="warn">Data Bundles</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center mx-auto">
            <button (click)="myairtimes('history')" class="col-md-6 p-2 shadow-sm" style="border: none; border-radius: 10px;" mat-raised-button color="accent">Airtime History</button>
        </div>
    </div>

</div>
