<div class="container">
  <div class="row mx-auto justify-content-center">
     <div class="col-md-8 text-center">
        <mat-card class="mt-3">
            <h5>ATM REQUEST FORM</h5>
            <form class="example-form" #atmrequest=ngForm (ngSubmit)="onSubmit()">
              <div class="alert alert-danger text-center" [hidden]="!error">{{error}}</div>
   
                <div class="row">
                    <mat-form-field class="example-full-width col-md-6">
                      <mat-label>Firstname*</mat-label>
                      <input matInput name="firstname" [(ngModel)]="form.firstname" placeholder="" value="">
                    </mat-form-field>

                    <mat-form-field class="example-full-width col-md-6">
                        <mat-label>Lastname*</mat-label>
                        <input matInput name="lastname" [(ngModel)]="form.lastname" placeholder="" value="">
                      </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width col-md-6">
                      <mat-label>Acct No*</mat-label>
                      <input matInput name="accountno" [(ngModel)]="form.accountno" placeholder="" value="">
                    </mat-form-field>

                    <mat-form-field class="example-full-width col-md-6">
                        <mat-label>Phone*</mat-label>
                        <input matInput name="phone" [(ngModel)]="form.phone" placeholder="" value="">
                      </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width col-md-12">
                      <mat-label>E-mail*</mat-label>
                      <input matInput placeholder="abcd@gmail.com" name="email" [(ngModel)]="form.email" value="">
                    </mat-form-field>
                </div>
                
                <div class="row mb-3">
                  <label id="example-radio-group-label" class="mb-2" style="font-weight: 800">Select card type</label>
                  <mat-radio-group name="atm_type" [(ngModel)]="form.atm_type" class="col-md-12">
                    <mat-radio-button class="float-start" value="Mastercard">Mastercard</mat-radio-button>
                    <mat-radio-button value="Verve">Verve</mat-radio-button>
                    <mat-radio-button class="float-end" value="Visa">Visa</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width col-md-6">
                        <mat-label>Enter Pin*</mat-label>
                        <input matInput name="password" autocomplete="off" [(ngModel)]="form.password" placeholder="" value="">
                      </mat-form-field>

                      
                    <mat-form-field class="example-full-width col-md-6">
                        <mat-label>Confirm Pin*</mat-label>
                        <input matInput name="password_confirmation" autocomplete="off" [(ngModel)]="form.password_confirmation" placeholder="" value="">
                      </mat-form-field>
                </div>

                  <button class="card-button btn btn-secondary mt-3 m-3" mat-raised-button type="submit" [disabled]="!atmrequest.valid">Send Request <i *ngIf="load" class="fa fa-spinner fa-spin text-light ml-2"></i></button>
                  <button class="card-button mt-3" mat-raised-button color="warn" [routerLink]="['/sidebar/dashboard']">Cancel</button>

            </form>    
        </mat-card>
     </div>
  </div>
</div>
