<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-12 text-center mx-auto">
            <button class="col-md-6 p-2 shadow-sm" (click)="airtime('etisalat')" style="border: none; border-radius: 10px;" mat-raised-button color="primary">9MOBILE</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 text-center mx-auto">
            <button class="col-md-6 p-2 shadow-sm" (click)="airtime('airtel')" style="border: none; border-radius: 10px;" mat-raised-button color="warn">AIRTEL</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 text-center mx-auto">
            <button class="col-md-6 p-2 shadow-sm text-white" (click)="airtime('glo')" style="border: none; border-radius: 10px; background-color: green;" mat-raised-button>GLO</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center mx-auto">
            <button class="col-md-6 p-2 shadow-sm" (click)="airtime('mtn')" style="border: none; border-radius: 10px;" mat-raised-button color="accent">MTN</button>
        </div>
    </div>

</div>

