<div class="container mt-4 animate__animated animate__slideInUp">
    <div class="row mx-auto justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                  <h1 class="card-title">Login here!</h1>
                  <small class="card-subtitle">Enter your credentials and get access</small>
                  <form class="card-form" #resetpassword=ngForm (ngSubmit)="onSubmit()">
                      <div class="alert alert-danger text-center" [hidden]="!error">{{error}}</div>
                      <label for="username">E-mail</label>
                      <div class="card-input-container email">
                          <input type="email" name="email" [(ngModel)]="form.email" class="form-control validate" placeholder="E-mail address" id="email" required>
                      </div>
                     
                      <button type="submit" class="card-button" [disabled]="!resetpassword.valid">Reset password</button>
                  </form>
              </div>
        </div>
    </div>
  </div>

