<div class="container">
    <div class="row">
        <h3 class="mt-4 text-center mb-4">CHOOSE BANK</h3>

        <div class="row">
            <div class="col-md-12 mb-4">
                <button mat-raised-button class="col-md-12 p-3" (click)="routeToOtherbanks()">OTHER BANKS</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button class="col-md-12 p-3 text-white" style="background-color: #565656;" (click)="routeTocashloan()">CASHLOAN BANK</button>
            </div>
        </div>

    </div>
</div>
